<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>SingIn</title>
</head>
<body>

<form th:action="@{/sign-in}" method="post" class="form_border">
    <h2>구글 로그인</h2>
    <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=1028073311661-5uarhmmi1cp02e5alb2d3vc2p27v9eps.apps.googleusercontent.com&redirect_uri=http://localhost:8080/login/google/auth&response_type=code&scope=email%20profile%20openid&access_type=offline">
        Google
    </a>
</form>

</body>
</html>